@import "_reset.scss";

body, html {
  width: 100%;
  height: 100vh;
}

//colors
$color_shady_lady_approx: #a9a9a9;
$color_plantation_approx: #2f4f4f;
$color_quill_gray_approx: #d3d3d3;
$color_silver_chalice_approx: #aaa;

body {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}

.label {
  color: #000;
  font-size: 12px;
  padding: 3px 5px;
  margin-left: 5px;
}

input, button:not(.btn) {
  border: 1px solid $color_shady_lady_approx;
  height: 25px;
  line-height: 25px;
  outline: 0 none;
  color: $color_plantation_approx;
  padding: 0 10px;
  background: #fff;
}

.start-screen {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
  border: 1px solid $color_shady_lady_approx;
  text-align: center;
  form > div {
    &.has-input {
      margin-bottom: 15px;
      margin-top: 15px;
    }
    &.has-button {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 40px;
      line-height: 40px;
    }
  }
}

.main-screen {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%;
  border: 1px solid $color_shady_lady_approx;
  .tabs {
    left: 0;
    top: 0;
    bottom: calc(100% - 35px);
    right: 0;
    .tab {
      display: inline-block;
      height: 35px;
      line-height: 35px;
      padding: 0 7px;
      font-size: 13px;
      border-right: 1px solid $color_shady_lady_approx;
      cursor: pointer;

      &.is-active {
        background-color: lightskyblue;
      }

      .label-default {
        background-color: lightskyblue;
      }
    }
  }
  .new-message {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 35px;
    line-height: 33px;
    border-top: 1px solid $color_shady_lady_approx;
    input {
      width: calc(100% - 20px);
      border: 0 none;
      height: 35px;
      line-height: 35px;
    }
  }
  .main-window {
    position: absolute;
    overflow: hidden;
    overflow-y: scroll;
    border-top: 1px solid $color_shady_lady_approx;

    &.messages {
      left: 0;
      right: 200px;
      top: 35px;
      bottom: 35px;
      .message {
        &.odd {
          background: $color_quill_gray_approx;
        }
        p {
          margin: 0;
          padding: 2px 5px;
          font-size: 13px;
          > * {
            display: inline-block;
            margin-right: 6px;
          }
          .date {

          }
          .nick {
            font-weight: bold;
          }
          .message-content {
            a {
              color: black;
              text-decoration: underline;
            }
          }
        }
        &.has-nick {
          background-color: lightskyblue;
        }
      }
    }

    &.channels {
      left: 0;
      right: 0;
      top: 35px;
      bottom: 0;
      padding: 20px;
    }

    section {
      margin-bottom: 18px;

      h3 {
        font-size: 16px;
        margin-bottom: 8px;
        padding: 3px;
      }
      h4 {
        font-size: 14px;
        margin-bottom: 4px;
        padding: 3px;

        &.notification {
          border-radius: 3px;
          padding: 10px;
          &.notification-warning {
            background-color: darkorange;
          }
        }
      }
      ul.item-grid {
        background: #eee;
        border-radius: 3px;
        margin-bottom: 3px;
        width: 100%;
        border-bottom: 1px solid white;
        font-size: 13px;
        li {
          padding: 10px;
          & > div {
            min-height: 30px;
            line-height: 30px;
            .form-group {
              margin-bottom: 0;
              input {
                width: 100%;
                height: 30px;
                line-height: 30px;
              }
            }
          }
        }
      }
    }

  }
  .users-joined {
    position: absolute;
    width: 200px;
    right: 0;
    top: 0;
    bottom: 35px;
    border-left: 1px solid $color_shady_lady_approx;
    .connected-user {
      cursor: pointer;
      &.is-active {
        background-color: $color_quill_gray_approx;
      }
      &.is-typing {
        background: lightskyblue;
      }
      p {
        padding: 2px 5px;
        font-size: 13px;
        margin: 0;
      }
      .ip {
        margin-left: 10px;
        font-size: 11px;
        color: $color_silver_chalice_approx;
      }
    }
  }
}

.not-found {
  width: 100%;
  height: 100vh;
  line-height: 100vh;
  font-size: 24px;
  text-align: center;
}